<input placeholder="{{ widget.tag_args.placeholder }}" autocomplete="off" type="{{ widget.type }}"
       name="{{ widget.name }}"{% if widget.value != None %}
       value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %} />
       {% comment %} {{ widget.tag_args|json_script:widget.name }} {% endcomment %}
<script>
    {% comment %} const {{ widget.name }}_args = JSON.parse(document.getElementById('{{ widget.name }}').textContent); {% endcomment %}
    {% if widget.tag_args.var_name %}
        var {{ widget.tag_args.var_name }} = {% endif %}  new Tagify(document.querySelector('input[name={{widget.name}}]'),
        {
        {% if widget.tag_args.maxTags != None %}maxTags:{{widget.tag_args.maxTags}},{%endif%}
        {% if widget.tag_args.pattern %}pattern:/{{widget.tag_args.pattern}}/,{%endif%}
        delimiters: "{{widget.tag_args.delimiters}}",
        whitelist: {{widget.tag_args.whitelist|safe}},
        dropdown: {
            enabled: {{widget.tag_args.suggestionsMinChars}}, 
            classname:"tagify-dd-tag"
            {% if widget.tag_args.dropdown_include_selected %},includeSelectedTags: true{%endif%}
            {% if widget.tag_args.dropdown_max_items %},maxItems: 10{%endif%}
        },
        // suggestionsMinChars:{{widget.tag_args.suggestionsMinChars}},
        blacklist:{{widget.tag_args.blacklist|safe}},
        {% if widget.tag_args.enforce_whitelist %}enforceWhitelist: true,{%endif%}
        {% if widget.tag_args.duplicates %}duplicates: true,{%endif%}
        {% if widget.tag_args.select %}select: true,{%endif%}
        {% if widget.tag_args.keep_invalid_tags %}keepInvalidTags: true,{%endif%}
        {% if widget.tag_args.tooltip_texts != None %}texts:{{widget.tag_args.tooltip_texts|safe}},{%endif%}
        originalInputValueFormat: valuesArr => valuesArr.map(item => item.value).join('{{ widget.tag_args.delimiters }}')
    })
</script>
